.flex-centered {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: center;
}

.wrapper {
  width: 100%;
  min-height: 100vh;
  margin-top: 20%;
}

.alert-container {
  position: fixed;
  bottom: 16px;
}

@media (max-width: 600px) {
  .wrapper {    
    margin-top: 50%;
  }
}